Repository controlorigins/documents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update dependencies in package.json and package-lock.json; modify button style in document_view.php
  package-lock.json
  package.json
  website/pages/document_view.php
Due: prettier --write

Add configuration files for PHP custom routing on Azure App Service
  AZURE_ROUTING_FIX.md
  azure-pipelines.yml
  website/.htaccess
  website/appsettings.json
  website/data/commits_cache.json
  website/diagnostics.php
  website/startup.sh
  website/web.config
Due: prettier --write

Enhance Azure App Service configuration with custom routing and diagnostics; add URL handler for pretty URLs
  azure-pipelines.yml
  website/diagnostics.php
  website/router.php
  website/startup.sh
  website/url-handler.php
Due: prettier --write

Update PHP version to 8.4 in Azure pipeline and composer configuration
  azure-pipelines.yml
  composer.json
Due: prettier --write

Implement custom 404 handler and JavaScript routing for Azure App Service; update Azure pipeline configuration
  azure-pipelines.yml
  website/404.php
  website/index.html
  website/index.php
Due: prettier --write

update configuration for custom error pages
  azure-pipelines.yml
Due: prettier --write

Enhance JavaScript routing in index.html for better URL handling; update Parsedown.php method signatures to support nullable parameters
  website/index.html
  website/pages/Parsedown.php
Due: none

Add versioning system with automated build information; update Azure pipeline and configuration files
  azure-pipelines.yml
  package.json
  scripts/update-version.js
  website/includes/config.php
  website/includes/version.php
  website/layout.php
  website/test_version.php
Due: eslint --fix, prettier --write

Fix: Enhanced client-side routing for Azure App Service 404 issues
  website/index.html
Due: none

Refactor URL construction for document view redirection in index.html
  website/data/commits_cache.json
  website/index.html
Due: prettier --write

Add .vs directory to .gitignore and remove slnx.sqlite file
  .gitignore
  .vs/slnx.sqlite
Due: none

Update package version to 1.2.0 in package-lock.json; enhance web.config with security headers and formatting improvements
  package-lock.json
  website/data/commits_cache.json
  website/web.config
Due: prettier --write

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_phpdocspark.yml
Due: prettier --write

Update PHP version to 8.0 in composer.json and workflow; set license to MIT
  .github/workflows/main_phpdocspark.yml
  composer.json
  vendor/composer/installed.php
Due: prettier --write

Refactor GitHub Actions workflow to streamline composer install check and update artifact upload path
  .github/workflows/main_phpdocspark.yml
Due: prettier --write

Enhance project data fetching by implementing remote URL retrieval with error handling; add debug script for testing
  website/debug_projects.php
  website/pages/project_list.php
Due: none

Update project references and add articles list page
  AZURE_ROUTING_FIX.md
  Readme.md
  website/assets/markdown/ChatGPT/Sessions/GitHub API Access PHP.md
  website/assets/markdown/Overview.md
  website/assets/markdown/Project/Project Overview.md
  website/includes/seo.php
  website/index.php
  website/layout.php
  website/pages/article_list.php
  website/pages/data-analysis.php
  website/pages/database.php
  website/pages/document_view.php
  website/pages/github.php
  website/pages/joke.php
  website/pages/project_list.php
  website/pages/search.php
  website/sitemap.php
  website/test_github_api.php
Due: prettier --write

Add startup script for PHP applications and custom Nginx configuration
  website/nginx.conf
  website/startup.sh
Due: none

Refactor Nginx configuration and startup script for improved PHP handling
  AZURE_ROUTING_FIX.md
  website/data/commits_cache.json
  website/nginx.conf
  website/startup.sh
Due: prettier --write

Add Cloudflare Redirect Troubleshooting Guide with solutions and best practices
  website/assets/markdown/copilot/cloudflare-redirect-troubleshooting.md
Due: prettier --write

Add comprehensive tests for MarkdownProcessor functionality
  .github/copilot-instructions.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  src/css/custom.scss
  src/css/prism.scss
  src/css/vendor.scss
  src/js/custom.js
  src/js/vendor.js
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vite.config.js
  website/assets/css/site.css
  website/assets/js/site.js
  website/assets/markdown/PHP/php-brand-and-logos.md
  website/assets/markdown/copilot/markdown-html-conversion-review.md
  website/assets/markdown/copilot/parsedown-version-analysis.md
  website/assets/markdown/copilot/prismjs-code-block-enhancement.md
  website/assets/markdown/copilot/unified-markdown-implementation.md
  website/assets/markdown/copilot/urgent-security-fix.md
  website/cache_fix_test.php
  website/chatgpt_test.php
  website/debug_path_test.php
  website/error_check_test.php
  website/html_debug.php
  website/includes/MarkdownProcessor.php
  website/inline_html_test.php
  website/pages/Parsedown.php
  website/pages/document_view.php
  website/pages/processor_status.php
  website/pages/search.php
  website/runtime_error_test.php
  website/test_code_blocks.php
  website/test_markdown_processor.php
  website/test_prismjs_enhancement.php
  website/test_real_code.php
  website/verify_prismjs.php
Due: eslint --fix, prettier --write, stylelint --fix

Update SEO and security configurations; add Security.md for comprehensive safety information
  website/assets/markdown/Project/SEO.md
  website/assets/markdown/Project/Security.md
  website/debug_seo_page.php
  website/includes/config.php
  website/robots.txt
  website/web.config
Due: prettier --write

Enhance PrismJS integration and resolve JavaScript errors
  src/css/custom.scss
  src/js/vendor.js
  website/assets/css/site.css
  website/assets/js/site.js
  website/assets/markdown/copilot/prismjs-code-block-enhancement.md
  website/debug_docs_mapping.php
  website/debug_scan_directory.php
  website/debug_seo_urls.php
  website/includes/docs.php
  website/test_prismjs_fix.php
Due: eslint --fix, prettier --write, stylelint --fix

Add comprehensive CI/CD pipeline documentation for PHPDocSpark, detailing GitHub Actions and Azure DevOps workflows, build processes, and troubleshooting guidelines.
  website/assets/markdown/copilot/CI-CD-Pipeline-Documentation.md
Due: prettier --write

Add debug joke page and AJAX functionality for testing
  package-lock.json
  package.json
  src/js/custom.js
  src/js/vendor.js
  website/assets/js/site.js
  website/data/commits_cache.json
  website/debug_joke.php
  website/pages/joke_debug.php
Due: eslint --fix, prettier --write

Refactor data analysis and chart functionality
  .github/copilot-instructions.md
  eslint.config.js
  package-lock.json
  package.json
  src/js/pages/chart.js
  src/js/pages/data-analysis.js
  src/js/vendor.js
  src/main.js
  vite.config.js
  website/assets/js/site.js
  website/index.php
  website/layout.php
  website/pages/ajax/chart-data.php
  website/pages/ajax/csv-data.php
  website/pages/ajax/csv-summary.php
  website/pages/chart.php
  website/pages/data-analysis.php
  website/sitemap.php
Due: eslint --fix, prettier --write

Enhance contact management UI: Added titles and improved button labels for edit and delete actions in database.php. Updated database.db.
  src/js/custom.js
  website/assets/js/site.js
  website/data/database.db
  website/pages/database.php
Due: eslint --fix, prettier --write

Update build process: Add version update functionality and increment build number; modify layout styles for better visibility
  .gitignore
  scripts/build.js
  scripts/update-version.js
  website/includes/version.php
  website/layout.php
Due: eslint --fix, prettier --write

Update build configuration: Upgrade PHP to 8.2, add Node.js setup, and update Vite to version 7.1.2; modify versioning information in version.php
  .github/workflows/main_phpdocspark.yml
  package-lock.json
  package.json
  website/includes/version.php
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,css})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.{scss,css}
